/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Container for the headings */
.heading-container {
    display: flex;
    gap: 20px; /* Spacing between headings */
    background-color: lightgreen;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styling for each heading */
.row {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    position: relative;
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center
}
.heading:hover {
    transform: scale(1.3); /* Scale the heading to 1.3 times its size */
    color: black; /* Change the text color for emphasis */
}
a {
    text-decoration: none;
}
.images-container {
    display: flex;
    gap: 20px; /* Spacing between headings */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 10px;
}
.images:hover {
    transform: scale(1.3); /* Scale the heading to 1.3 times its size */
    color: black; /* Change the text color for emphasis */
}